/* CSS setting for MapComponent.js */
.map-container {
  height: 400px;
  width: 100%;
  border: 1px solid #555;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  border-radius: 4px;
  /* overflow: hidden; */
}

.data-overview-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: transparent; /* 渐变背景 */
  color: black;
  border-radius: 0px;
  margin: 0px auto;
  font-family: 'EB Garamond', serif;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}
